.navbar{
    border: 2px solid green;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul{
    display: inline;
}
li{
    float: left;
}
a{
    display: block;
    padding: 8x;
    background-color: #dddddd;
}