*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin-top: 650px;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px;
    background-image: linear-gradient(to top right, #b5e070, #7eae77);
    gap: 20;
 }
 .profile {
    width: 300px;
    display: flex;   
    flex-direction: column;
    gap: 7px;
    position: relative;
    margin-bottom: 20px;
 }
 .personal-info{
    position:absolute;
    left: 500px;
    width: 300px;
    top: 68px;
    gap: 7px;
 }
 .form-group{
    display: flex;
    flex-direction: column;
 }
 
 label{
    margin-left: 40px;
    margin-bottom: 7px;
    font-weight: bold;
 }
 input{
    margin-left: 30px;
    width: 300px;
    max-width: 400px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
 }
 input:focus{
    outline: none;
 }
.skill1 , .skill2 ,.skill3{
    display: flex;
    width: 80%;
    height: 45px;
   margin-bottom: 10px;
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
   position: relative;

}
.skill4{
    display: flex;
    position: absolute;
    margin-top: 28px;
    left: 730px;
    width: 80%;
    height: 45px;
   margin-bottom: 10px;
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
}
.skill5{
    display: flex;
    position: absolute;
    margin-top: 85px;
    left: 730px;
    width: 80%;
    height: 45px;
   margin-bottom: 10px;
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
}
.elementary, .junior{
    display: flex;
    position: relative;
    width: 80%;
    height: 45px;
    margin-bottom: 10px ;
}
.senior{
    display: flex;
    position: absolute;
    width: 80%;
    height: 45px;
    margin-top: 20px;
    left: 730px;
    margin-bottom: 10px ;
}
.college{
    display: flex;
    position: absolute;
    margin-top: 77px;
    left: 730px;
    width: 80%;
    height: 45px;
   margin-bottom: 10px;
   font-size: 14px;
   font-weight: bold;
   padding: 10px;
}
.lobjective{
   margin-top: 30px;
}
.objective{
    margin: 20px 50px 20px 75px;
    width: 800px;
    height: 300px;
}