*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}
.container{
    width: 65%;
    height: auto;
    margin-top: 700px;
   padding: 20px 25px 10px 0px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px;
    background-image: linear-gradient(to top right, #b5e070, #7eae77);
 }
 .profilepic{
   display: flex;
   justify-content: space-between;
 }

 .hpersonal{
      font-size: 15px;
      margin-top: 20px;
      margin-left: 40px;
 }
 .personal-info{
   display: flex;
   justify-content: space-between;
 }
 .lage, .lbday, .lpbirth, .lgender{
   margin-bottom: 5gipx;
} 

.age, .bday, .pbirth, .gender{
   margin-bottom: 5px;
   width: 1000px;
}
.name, .address, .course, .phone{
   width: 1000px;
} 
 .form-group{
    display: flex;
    flex-direction: column;
 }
 
 label{
    margin-left: 40px;
    margin-bottom: 7px;
    font-weight: bold;
 }
 input{
    margin-left: 30px;
    width: 300px;
    max-width: 400px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
 }
 input:focus{
    outline: none;
 }
 .hskill{
   font-size: 15px;
   margin-top: 20px;
   margin-left: 40px;
 }
 .skill{
   display: flex;
   justify-content: space-between;

 }
 .skill1,.skill2,.skill3{
   margin-top: 8px;
   width: 1000px;

 }
 .skill4, .skill5{
   margin-top: 7px;
   width: 1000px
 }

 .hschool{
   font-size: 15px;
   margin-top: 20px;
   margin-left: 40px;
 }

.school{
   display: flex;
   justify-content: space-between;
}
.elementary,.junior{
   margin-top: 8px;
   width: 1000px;
 }
 .senior, .college{
   margin-top: 7px;
   width: 1000px
 }

 .hobjective{
   font-size: 15px;
   margin-top: 10px;
   margin-left: 40px;
 }
.objective{
    margin: 0px 50px 10px 75px;
    width: 800px;
    height: 300px;
}
.lobjective{
 margin-left: 100px;
}
textarea{
   font-size: 16px;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
}
button{
   margin-left: 325px;
   margin-bottom: 20px;
   background-color: darkblue;
   color: whitesmoke;
   font-size: 24px;
   font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
   width: 300px;
   height: 50px;
}
button:hover{
   background-color: lightblue;
   color: black;
}
